{%- extends "base.njk" -%}
{%- block body -%}
{% include "partials/default-code-expectations.njk" %}

{% include "partials/default-syntax-requirements.njk" %}

{% include "partials/default-forbidden-techniques.njk" %}

{% include "partials/default-allowed-components.njk" %}
{%- endblock -%}
