{%- extends "base.njk" -%}
{%- block body -%}
Убедись, что ты получил на проверку два непустых файла — `Component.tsx` и `styles.ts`. Проверь, что файл со стилем используется в файле со структурой компонента. Проверь, что напрямую стили в файле `Component.tsx` не задаются, а только вызываются из `styles.ts`.

Проверь, что стили (особенно цветовые, текстовые и стили border), заданные в `styles.ts`, соответствуют стилям `base.png`.
- background-color;
- border-color, border-radius;
- цвет текста (color),font-family, font-size, font-style, font-weight и другие текстовые стили.

Допустимо использовать стандартные Tailwind-класс вместо точных указаний значения в квадратных скобках. В частности, допистимо изспользовать вместо точных указаний RGB-кодов близкие цвета из стандартной палитры Tailwind.

{%- endblock -%}
