{%- extends "base.njk" -%}
{%- block body -%}
Используй `base.png` и код из `Component.tsx`, чтобы проработать стилевое решение. Внимательно отнесись к следующим стилям:
- background-color;
- border-color, border-radius;
- цвет текста (color),font-family, font-size, font-style, font-weight и другие текстовые стили.

Стили должны быть заданы Tailwind-классами и полностью вынесены в файл `styles.ts`.

Из файла структуры обязательно нужно ссылаться на файл стиля.
{%- endblock -%}