{%- extends "base.njk" -%}
{%- block body -%}
Используй и код из `Component.tsx` чтобы создать мок-данные в файле `mock.ts`.

Правила генерации `mock.ts`:
1. Действуй в зависимости от того, есть ли у компонента явный TypeScript-интерфейс пропсов (interface ComponentProps).
2. Если у компонента нет TypeScript-интерфейса пропсов, ориентируйся на тип компонента. Создай мок-данные с типичными для такого типа компонентов свойствами (например: базовый/успешный вариант, вариант с минимальным набором данных, вариант с максимальным набором данных или ошибкой).
3. Если TypeScript-интерфейс пропсов есть, узучи его. Экспортируй именованные константы с реалистичными тестовыми данными (например: базовый/успешный вариант, вариант с минимальным набором данных, вариант с максимальным набором данных или ошибкой). Строго соблюдай типы из компонента. Не используй "any".

{%- endblock -%}