## Требования к синтаксису
 - функция-компонент называется Component;
 - обязательно использовать синтаксис `export default function Component` или его аналоги;
 - если нужно импортировать компонент из `@/components/ui`, то указывать именно этот родительский каталог, не подкаталоги;
 - для стилей используй Tailwind CSS, а не сырой CSS.
