## Запрещённые архитектурные приёмы
 - пропсы запрещены;
 - интерактив запрещён;
 - контекстные компоненты запрещены;
 - вложенные кастомные компоненты запрещены;
 - состояния запрещены;
 - конечные автоматы запрещены;
 - привязка к внешним данным запрещена.
