## Запрещённые архитектурные приёмы
 - использовать компоненты из React/Next.js запрещено;
 - использовать компоненты из shadcn/ui запрещено;
 - пропсы запрещены;
 - интерактив запрещён;
 - контекстные компоненты запрещены;
 - вложенные кастомные компоненты запрещены;
 - состояния запрещены;
 - конечные автоматы запрещены;
 - привязка к внешним данным запрещена.
