{%- extends "base.njk" -%}
{%- block body -%}
Убедись, что получил на проверку непустые файлы `mock.ts` и `Component.stories.ts`. Проверь, что эти два файла связаны: данные из `mock.ts` используются в `stories.ts`.
{%- endblock -%}
