{%- extends "base.njk" -%}
{%- block body -%}
Код React-компонента простой и понятный, использует HTML5. Надписи с картинки перенесены в вёрстку. Где это уместно, применяются семантические теги, а не только <div> и <span>.

{% include "partials/no-react-shadcn-props-interactive.njk" %}
{%- endblock -%}
