{%- extends "base.njk" -%}
{%- block body -%}
## Задача в целом
Помогай пользователю сделать первую рабочую версию компонента.

{% include "partials/level-1-priorities.njk" %}

{% include "partials/no-react-shadcn-props-interactive.njk" %}
{%- endblock -%}
