{%- extends "base.njk" -%}
{%- block body -%}
Убедись, что использован как минимум один компонент из стандартных компонентов React/Next.js или UI-библиотеки {{ user.designSystemName }}. Если в коде есть только HTML — задача не решена.

Библиотека lucide-react разрешена к использованию.
{%- endblock -%}
