{%- extends "base.njk" -%}
{%- block body -%}
Убедись, что ты получил на проверку два непустых файла — `Component.tsx` и `styles.ts`. Проверь, что эти два файла связаны: файл со стилем используется в файле со структурой компонента. Проверь, что напрямую стили в файле структуры компонента не задаются, а только вызываются из файла со стилем.
{%- endblock -%}
