{%- extends "base.njk" -%}
{%- block body -%}
Используй `base.png` и код из `Component.tsx` как исходную базу для того, чтобы проработать стилевое решение. Максимально внимательно отнесись к выбору цвета.
Стилевое решение полностью вынеси в отдельный файл. Не перемешивай структуру компонента с его оформлением. Из файла структуры обязательно нужно ссылаться на файл стиля.
{%- endblock -%}
